In [37]:
import random
import math
import numpy as np
import pandas as pd

In [17]:
wine =  pd.read_csv("wine.csv")
wine

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Class Label
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,NaN,5.64,1.04,NaN,1065,0
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,0
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,0
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,0
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,2
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,2
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,2
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,2
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,2

In [18]:
wine["Proanthocyanins"] = wine["Proanthocyanins"].fillna(wine["Proanthocyanins"].mean())
wine["OD280/OD315 of diluted wines"] = wine["OD280/OD315 of diluted wines"].fillna(wine["OD280/OD315 of diluted wines"].mean())
wine = wine.drop("Class Label", axis=1)

In [19]:
x = wine.drop("Color intensity", axis=1).to_numpy()
y = wine[["Color intensity"]].to_numpy()

print("x shape: ", x.shape)
print("y shape: ", y.shape)

x shape:  (178, 12)
y shape:  (178, 1)

In [30]:
one = np.ones((len(x), 1))
X = np.append(one, x, axis=1)

Y = np.array(y).reshape((len(y), 1))

print(X.shape)
print(Y.shape)

(178, 13)
(178, 1)

In [21]:
print("X head")
display(X[0:5])
print("Y head")
display(Y[0:5])

X head

array([[1.00000000e+00, 1.42300000e+01, 1.71000000e+00, 2.43000000e+00,
        1.56000000e+01, 1.27000000e+02, 2.80000000e+00, 3.06000000e+00,
        2.80000000e-01, 1.58694915e+00, 1.04000000e+00, 2.60429379e+00,
        1.06500000e+03],
       [1.00000000e+00, 1.32000000e+01, 1.78000000e+00, 2.14000000e+00,
        1.12000000e+01, 1.00000000e+02, 2.65000000e+00, 2.76000000e+00,
        2.60000000e-01, 1.28000000e+00, 1.05000000e+00, 3.40000000e+00,
        1.05000000e+03],
       [1.00000000e+00, 1.31600000e+01, 2.36000000e+00, 2.67000000e+00,
        1.86000000e+01, 1.01000000e+02, 2.80000000e+00, 3.24000000e+00,
        3.00000000e-01, 2.81000000e+00, 1.03000000e+00, 3.17000000e+00,
        1.18500000e+03],
       [1.00000000e+00, 1.43700000e+01, 1.95000000e+00, 2.50000000e+00,
        1.68000000e+01, 1.13000000e+02, 3.85000000e+00, 3.49000000e+00,
        2.40000000e-01, 2.18000000e+00, 8.60000000e-01, 3.45000000e+00,
        1.48000000e+03],
       [1.00000000e+00, 1.32400000e+01, 2.59000000e+00, 2.87000000e+00,
        2.10000000e+01, 1.18000000e+02, 2.80000000e+00, 2.69000000e+00,
        3.90000000e-01, 1.82000000e+00, 1.04000000e+00, 2.93000000e+00,
        7.35000000e+02]])

Y head

array([[5.64],
       [4.38],
       [5.68],
       [7.8 ],
       [4.32]])

In [31]:
def train_test_split(X, Y, split):
    #randomly assigning split rows to training set and rest to test set
    indices = np.array(range(len(X)))
    
    train_size = round(split * len(X))

    random.shuffle(indices)

    train_indices = indices[0:train_size]
    test_indices = indices[train_size:len(X)]

    X_train = X[train_indices, :]
    X_test = X[test_indices, :]
    Y_train = Y[train_indices, :]
    Y_test = Y[test_indices, :]
    
    return X_train, Y_train, X_test, Y_test

x_train, y_train, x_test, y_test = train_test_split(x, y, 0.5)

In [32]:
print ("TRAINING SET")
print("X_train.shape: ", x_train.shape)
print("Y_train.shape: ", y_train.shape)

print("\nTESTING SET")
print("X_test.shape: ", x_test.shape)
print("Y_test.shape: ", y_test.shape)

TRAINING SET
X_train.shape:  (89, 12)
Y_train.shape:  (89, 1)

TESTING SET
X_test.shape:  (89, 12)
Y_test.shape:  (89, 1)

In [38]:
def normal_equation(X, Y):
    beta = np.dot((np.linalg.inv(np.dot(X.T,X))), np.dot(X.T,Y))
    return beta

def predict(X_test, beta):
    return np.dot(X_test, beta)

In [39]:
beta = normal_equation(x_train, y_train)
predictions = predict(x_test, beta)

In [41]:
def metrix(predictions, Y_test):
    #calculating mean absolute error
    MAE = np.mean(np.abs(predictions-Y_test))

    #calculating root mean square error
    MSE = np.square(np.subtract(Y_test,predictions)).mean() 
    RMSE = math.sqrt(MSE)

    #calculating r_square
    rss = np.sum(np.square((Y_test- predictions)))
    mean = np.mean(Y_test)
    sst = np.sum(np.square(Y_test-mean))
    r_square = 1 - (rss/sst)
    
    return MAE, RMSE, r_square

In [42]:
mae, rmse, r_square = metrix(predictions, y_test)
print("Mean Absolute Error: ", mae)
print("Root Mean Square Error: ", rmse)
print("R square: ", r_square)

Mean Absolute Error:  1.179124742451736
Root Mean Square Error:  1.5191037319277838
R square:  0.5251677850258403